* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family:
    "Trebuchet MS",
    sans-serif;

  background: linear-gradient(
    135deg,
    var(--bg-primary),
    var(--bg-secondary)
  );

  min-height: 100vh;

  color: var(--text-dark);
}

button {
  cursor: pointer;
  border: none;
}

#root {
  min-height: 100vh;
}